h1, h2, h3, h4, h5, h6 {
    font-family: "Istok Web", sans;
}
p, div {
    font-family: "Calibri", sans;
}

ul.nav a:hover
{
    opacity: 1;
}

.navbar .divider-vertical 
{
	height: 25px;
	margin: 12px 35px;
	border-right: 1px solid #555555;
	border-left: 0px solid #a2a2a2;
}

a:hover
{
	text-decoration: none !important;
	cursor: pointer;
}

.jumbotron
{
	background-color: transparent !important;
}

.carousel
{
	margin-top: 0px !important;
	background-color: white;
	height:auto;
}

.carousel-inner > .item >  img
{
	margin: 0 auto;
}

.carousel-caption
{
	background-color: rgba(0, 0, 0, 0.4);
}

.user-data-table
{
	text-align:right;
	width:400px;
	margin: 20px auto;
	font-weight: bold;
}

.user-data-table td
{
	height:30px;
	line-height:30px;
}

.udt-val-td
{
	width:50%;
	text-align:left;
	text-indent:30px;
	font-weight: normal;
}

.booklist-table tbody tr td
{
	vertical-align: middle;
}

.booklist-table tbody tr td .thumbnail
{
	width:45px;
	margin: 0 auto;
}

.btn-bookbook
{
	margin-top:5px;
}